@{
    ViewData["Title"] = "Error";
}

<div class="row">
    <div class="col s10 offset-s1">
        <div class="card">
            <div class="row">
                <div class="card-content">

                    <p class="center-align">A ocurrido un error al crear la cuenta.</p>
                    <hr />
                </div>
                <div class="card-action" style="text-align: center">
                    <a class="btn waves-effect waves-light" asp-action="Index" asp-controller="Consulta">
                        <i class="material-icons left">home</i>
                        Ir al Inicio
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>