@{
    ViewData["Title"] = "Inicio de Sesión";
}

@model FacturacionElectronica.Models.UserLoginModel

<div class="card alinear">
    <div class="row">
        <form class="col s12" id="formInicio" asp-action="Login" asp-controller="Cuenta">
            <div class="card-content">
                <h4 class="center-align">Inicio de Sesión</h4>
                <hr />
                <div class="row">
                    <div class="input-field col s12">
                        <i class="material-icons prefix">account_circle</i>
                        <label asp-for="Email" class="control-label"></label>
                        <input asp-for="Email" class="form-control" />
                        <span asp-validation-for="Email" class="red-text text-darken-1"></span>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s12">
                        <i class="material-icons prefix">lock</i>
                        <label asp-for="Password" class="control-label"></label>
                        <input asp-for="Password" class="form-control" />
                        <span asp-validation-for="Password" class="red-text text-darken-1"></span>
                    </div>
                </div>
            </div>
            <div asp-validation-summary="ModelOnly" class="red-text text-darken-1"></div>
            <div class="card-action" style="text-align: center">
                <button class="btn electro-ucayali-color waves-effect waves-light" id="consultar" type="submit" name="action">
                    <i class="material-icons left">arrow_forward</i>
                    Iniciar Sesión
                </button>
                <a class="btn electro-ucayali-color waves-effect waves-light" asp-controller="Consulta" asp-action="AccesoAnonimo"><i class="material-icons left">arrow_back</i>Regresar</a>

            </div>
        </form>
    </div>
</div>
<div class="row alinear">
    <h5>ACCEDE COMO ANONIMO</h5>
    <a asp-controller="Consulta" asp-action="AccesoAnonimo" class="btn-large electro-ucayali-color waves-effect waves-light ">ACCESO ANONIMO</a>
</div>
<div class="row alinear">
    <h5>RECUPERA TU CONTRASEÑA YA</h5>
    <a asp-controller="Cuenta" asp-action="OlvidoContrasena" class="btn-large electro-ucayali-color waves-effect waves-light ">RECUPERAR CONTRASEÑA</a>
</div>




<partial name="_LoadingPartial" />


@section Scripts {
    <script>
        $(document).ready(function () {
            $('#modal1').modal({ 'dismissible': false });
            $('#consultar').click(function () {
                abrirModal(false);
            });
        });
    </script>
}