@{
    ViewData["Title"] = "Recuperar Contraseña";
}

@model FacturacionElectronica.Models.ForgotPasswordModel

        <div class="card alinear">
            <div class="row">
                <form asp-action="OlvidoContrasena" class="col s12">
                    <div class="card-content">
                        <h4 class="center-align">Recuperar Contraseña</h4>
                        <hr />
                        <div class="row">
                            <div class="input-field col s12">
                                <label asp-for="Email" class="control-label"></label>
                                <input asp-for="Email" class="form-control" />
                                <span asp-validation-for="Email" class="red-text text-darken-1"></span>
                            </div>
                        </div>
                        <div asp-validation-summary="ModelOnly" class="red-text text-darken-1"></div>
                        <div class="card-action" style="text-align: center">
                            <button type="submit" id="recuperar" class="btn electro-ucayali-color waves-effect waves-light">Recuperar</button>
                            <a class="btn electro-ucayali-color waves-effect waves-light" asp-controller="Cuenta" asp-action="Login"><i class="material-icons left">arrow_back</i>Regresar</a>
                        </div>
                    </div>
                </form>
            </div>
        </div>

<partial name="_LoadingPartial" />

@section Scripts {
    <script>
            $(document).ready(function () {
                $('#modal1').modal({ 'dismissible': false });
                $('#recuperar').click(function () {
                    abrirModal(false);
                });
            });
    </script>
}