
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@

<div id="modal1" class="modal" style="text-align: center; top: 50%;">
    <a class="btn-floating btn-large cyan pulse"><i class="material-icons">autorenew</i></a>
</div>