@{
    ViewData["Title"] = "Home Page";
}

<div class="row">
    <div class="col s4 offset-s4">
        <div class="card">
            <div class="row">
                <form class="col s12" id="formConsultar">
                    <div class="card-content">
                        <h4 class="center-align">Acceso Anónimo</h4>
                        <div class="row">
                            <div class="input-field col s12">
                                <select name="tipoComprobante">
                                    <option value="" disabled selected>Seleccione</option>
                                    <option value="1">Factura</option>
                                    <option value="2">Boleta</option>
                                    <option value="3">Nota de Crédito</option>
                                    <option value="4">Nota de Débito</option>
                                </select>
                                <label>Tipo de Comprobante</label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="input-field col s6">
                                <label for="serie">Serie</label>
                                <input id="serie" type="number" class="validate" name="serie">
                            </div>
                            <div class="input-field col s6">
                                <label for="numero">Número</label>
                                <input id="numero" type="number" class="validate" name="numero">
                            </div>
                        </div>
                        <div class="row">
                            <div class="input-field col s12">
                                <label for="monto">Monto Total</label>
                                <input id="monto" type="number" class="validate" name="monto">
                            </div>
                        </div>
                        <div class="row">
                            <div class="input-field col s12">
                                <label for="date">Fecha de Emisión</label>
                                <input id="date" type="text" class="datepicker" name="fecha">
                            </div>
                        </div>
                    </div>
                    <div class="card-action" style="text-align: center">
                        <button class="btn waves-effect waves-light" id="consultar" type="submit" name="action">
                            <i class="material-icons left">search</i>
                            Consultar
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<partial name="_LoadingPartial" />

<div id="resultado"></div>


@section Scripts {
    <script>
        $(document).ready(function () {
            var options = {
                'defaultDate': Date(),
                'format': 'dd-mm-yyyy',
                'showClearBtn': true
            };
            $('#date').datepicker(options);
            $('select').formSelect();
            $('.collapsible').collapsible();
            $('#modal1').modal({ 'dismissible' : false });           

            $('#consultar').click(function (e) {
                e.preventDefault();
                var elem = document.querySelector('#modal1');
                var instance = M.Modal.getInstance(elem);
                instance.open();
                //$('#modal1').removeAttr('style');
                $('#modal1').css('background-color', 'transparent');
                $('#modal1').css('width', '90px');
                $('#modal1').css('height', '70px');
                $('#modal1').css('margin-top', '15%');
                $('#modal1').css('box-shadow', 'none');
                var serie = $('#serie').val();
                var numero = $('#numero').val();
                var monto = $('#monto').val();
                var fecha = $('#date').val();
                $('#resultado').load("/Home/Consulta", { serie: serie, numero: numero, monto: monto, fecha: fecha }, function () {
                    instance.close();
                });
            });
        });
    </script>
}