@{
    ViewData["Title"] = "Acceso Anónimo";
}

@model FacturacionElectronica.Models.AccesoAnonimoModel

<div class="row">
    <div class="col s6 offset-s3">
        <div class="card">
            <div class="row">
                <form class="col s12" id="formConsultar" asp-action="AccesoAnonimo" asp-controller="Consulta">
                    <div class="card-content">
                        <h4 class="center-align">Acceso Anónimo</h4>
                        <hr />
                        <div class="row">
                            <div class="input-field col s12">
                                <select name="tipoComprobante">
                                    <option value="1" selected>Factura</option>
                                    <option value="2">Boleta</option>
                                    <option value="3">Nota de Crédito</option>
                                    <option value="4">Nota de Débito</option>
                                </select>
                                <label>Tipo de Comprobante</label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="input-field col s6">
                                <label asp-for="serie" class="control-label"></label>
                                <input asp-for="serie" type="number" />
                                <span asp-validation-for="serie" class="red-text text-darken-1"></span>
                            </div>
                            <div class="input-field col s6">
                                <label asp-for="numero" class="control-label"></label>
                                <input asp-for="numero" type="number" />
                                <span asp-validation-for="numero" class="red-text text-darken-1"></span>
                            </div>
                        </div>
                        <div class="row">
                            <div class="input-field col s12">
                                <label asp-for="monto" class="control-label"></label>
                                <input asp-for="monto" type="number" />
                                <span asp-validation-for="monto" class="red-text text-darken-1"></span>
                            </div>
                        </div>
                        <div class="row">
                            <div class="input-field col s12">
                                <label asp-for="fecha"></label>
                                <input asp-for="fecha" type="text" id="date" class="datepicker" />
                                <span asp-validation-for="fecha" class="red-text text-darken-1"></span>
                            </div>
                        </div>
                        <div asp-validation-summary="ModelOnly" class="red-text text-darken-1"></div>
                    </div>
                    <div class="card-action" style="text-align: center">
                        <button class="btn waves-effect waves-light" id="consultar" type="submit" name="action">
                            <i class="material-icons left">search</i>
                            Consultar
                        </button>
                        <a class="btn waves-effect waves-light" asp-action="Index"><i class="material-icons left">arrow_back</i>Regresar</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<partial name="_LoadingPartial" />

@if (!String.IsNullOrEmpty(Model.error))
{
    <div style="text-align: center">
        <p>
            @Model.error
        </p>
    </div>
}


@section Scripts {
    <script>
        $(document).ready(function () {
            var options = {
                'defaultDate': Date(),
                'format': 'dd-mm-yyyy',
                'showClearBtn': true
            };
            $('#date').datepicker(options);
            $('select').formSelect();
            $('#modal1').modal({ 'dismissible': false });

            $('#consultar').click(function () {
                abrirModal(false);
            });
        });
    </script>
}