@{
    ViewData["Title"] = "Acceso Anónimo";
}

@model FacturacionElectronica.Models.AccesoAnonimoModel

        <div class="card alinear">
            <div class="row">
                <form class="col s12" id="formConsultar" asp-action="AccesoAnonimo" asp-controller="Consulta">
                    <div class="card-content">
                        <h4 class="center-align">Acceso Anónimo</h4>
                        <p class="center-align">Señor Contribuyente , a través de esta consulta, Usted podrá verificar si una Factura Electrónica, una Boleta Electrónica, sus Notas Electrónicas relacionadas o una Guía de Remisión Electrónica se encuentran registradas o informadas a la SUNAT.</p>
                        <hr />
                        @*<div class="row">
                            <div class="input-field col s12">
                                <select name="tipoComprobante">
                                    <option value="1" selected>Factura</option>
                                    <option value="2">Boleta</option>
                                    <option value="3">Nota de Crédito</option>
                                    <option value="4">Nota de Débito</option>
                                </select>
                                <label>Tipo de Comprobante</label>
                            </div>
                        </div>*@
                        <div class="row">
                            <div class="input-field col s6">
                                <label asp-for="serie" class="control-label"></label>
                                <input asp-for="serie" type="text" placeholder="F001" />
                                <span asp-validation-for="serie" class="red-text text-darken-1"></span>
                            </div>
                            <div class="input-field col s6">
                                <label asp-for="numero" class="control-label"></label>
                                <input asp-for="numero" type="number" placeholder="269" />
                                <span asp-validation-for="numero" class="red-text text-darken-1"></span>
                            </div>
                        </div>
                        <div class="row">
                            <div class="input-field col s12">
                                <label asp-for="monto" class="control-label"></label>
                                <input asp-for="monto" type="number" step="any" placeholder="444" />
                                <span asp-validation-for="monto" class="red-text text-darken-1"></span>
                            </div>
                        </div>
                        <div class="row">
                            <div class="input-field col s12">
                                <label asp-for="fecha"></label>
                                <input asp-for="fecha" type="text" id="date" class="datepicker" placeholder="22/06/2021" />
                                <span asp-validation-for="fecha" class="red-text text-darken-1"></span>
                            </div>
                        </div>
                        <div asp-validation-summary="ModelOnly" class="red-text text-darken-1"></div>
                    </div>
                    <div class="card-action" style="text-align: center">
                        <button class="btn electro-ucayali-color waves-effect waves-light" id="consultar" type="submit" name="action">
                            <i class="material-icons left">search</i>
                            Consultar
                        </button>
                        <a class="btn waves-effect waves-light" asp-action="Index"><i class="material-icons left">arrow_back</i>Regresar</a>
                    </div>
                </form>
            </div>
        </div>
        <div class="row alinear">
            <a asp-action="Login" asp-controller="Cuenta" class="btn">Inicia Sesión</a>
        </div>

<partial name="_LoadingPartial" />

@if (!String.IsNullOrEmpty(Model.error))
{
    <div style="text-align: center">
        <p>
            @Model.error
        </p>
    </div>
}


@section Scripts {
    <script>
        $(document).ready(function () {
            var options = {
                'defaultDate': Date(),
                'format': 'yyyy-mm-dd',
                'showClearBtn': true,
                'i18n': {
                    'cancel': 'Salir',
                    'clear': 'Limpiar',
                    'months': ['Enero', 'Febrero', 'Marzo', 'Abril', 'Mayo', 'Junio', 'Julio', 'Agosto', 'Setiembre', 'Octubre', 'Noviembre', 'Diciembre'],
                    'monthsShort': ['Ene','Feb','Mar','Abr','May','Jun','Jul','Ago','Set','Oct','Nov','Dic'],
                    'weekdays': ['Domingo', 'Lunes', 'Martes', 'Miercoles', 'Jueves', 'Viernes', 'Sabado'],
                    'weekdaysShort': ['Dom', 'Lun', 'Mar', 'Mie', 'Jue', 'Vie', 'Sab'],
                    'weekdaysAbbrev': ['D','L','M','M','J','V','S']
                }
            };
            $('#date').datepicker(options);
            $('select').formSelect();
            $('#modal1').modal({ 'dismissible': false });

            $('#consultar').click(function () {
                abrirModal(false);
            });
        });
    </script>
}