@{
    ViewData["Title"] = "Listado de Comprobantes";
}

@model FacturacionElectronica.Models.UserLoginModel

<div class="row">
    <div class="col s10 offset-s1">
        <div class="card">
            <div class="row">
                <form class="col s12" id="formInicio" asp-action="Login" asp-controller="Cuenta">
                    <div class="card-content">
                        <h4 class="center-align">Página en Construcción</h4>
                        <hr />
                        <img src="https://i.pinimg.com/originals/3f/e2/cb/3fe2cb5398357b1ea4d3c79d24915db6.jpg" />
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<partial name="_LoadingPartial" />


@section Scripts {
    <script>
        $(document).ready(function () {

        });
    </script>
}